* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --background-color:#fff;
    --snd-bg-color:#d5fdf9;
    --text-color:#000;
    --main-color:rgb(65 90 119);
}
html {
    font-size:62.5%;
    overflow-x:hidden;
}

body {
    color:var(--text-color);
}

section {
    min-height:100vh;
    padding:10rem 9% 2rem;
}

/* header section code */

.header {
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 2rem 5%;
    background:var(--main-color) ;
    backdrop-filter:blur(10px) ;
    transition:all 0.5s ease;
}

.logo {
    font-size:3rem;
    color:rgb(20, 14, 101);
    font-weight:700;
    cursor:pointer;
    transition:0.3s ease;
}
.logo:hover{
    transform:scale(2.05);
}
.navbar a{
    font-size:1.9rem;
    color:var(--bg-color);
    margin-left:4rem;
    font-weight:700;
    transition:0.3s ease;
}
.navbar a:hover,
.navbar a.active {
    color:#00ff37;
}

#menu-icon {
    font-size:3.6rem;
    color:rgb(1, 14, 14);
    cursor:pointer;
    display:none;
}

/* home section code */

.home {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(65 90 119);
}

.home-img img{
    width:25vw;
    border-radius:50%;
    box-shadow:0 0 25px #00ff37;
    cursor:pointer;
    animation:floatimage 4s ease-in-out infinite;
    transition:0.4s ease;
}

.home-img img:hover {
  box-shadow:0 0 25px wheat; 
}

@keyframes floatimage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform:translateY(-2.4rem);
    }
    100% {
        transform:translateY(0);
    }    
}

.home-content {
    margin-left:5rem;
}

.home-content h3 {
    font-size:1.6rem;
    font-weight:700;
}

.home-content h3:nth-of-type(2) {
margin-bottom: 2rem;
}
span {
    color:#00ff37;
}
.home-content h1 {
    font-size: 6rem;
    font-weight:700;
    line-height:1.3;
}
.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height:42px;
    background:transparent ;
    border:0.2rem solid black;
    border-radius: 50%;
    font-size: 2rem;
    color:#00ff37;
    margin:3rem 1.5rem 3rem 0;
    transition:0.3s ease;
}


.social-media a:hover {
    transform:scale(1.2) translatey(-10px);
    background-color: var(--main-color);
    color:var(--bg-color);
    box-shadow:0 0 25px var(--main-color);
}

.btn {
    display:inline-block;
    padding:1rem 2.8rem;
    background:#00ff37;
    border-radius:4rem;
    box-shadow:none;
    font-size:1.6rem;
    color:rgb(19, 13, 1);
    letter-spacing:0.1rem;
    font-weight:600;
    transition:0.3s ease;

}

.btn:hover {
    box-shadow:0 0 1.6rem rgb(60, 12, 96);   
}

/* About section code */
.About {
    display:flex;
    align-items:center;
    justify-content: center;
    gap:2rem;
    background:rgb(65 90 119);
}

.heading {
    font-size: 6rem;
    text-align: left;
}

.about-content {
    padding:0 4rem;
}

.about-content h2 {
    text-align: center;
    line-height:1.2 ;
}

.about-content h3{
    font-size:3rem;
    text-align: left;
}

.about-content p{
    font-size: 1.6rem;
    margin:2rem 0 3rem;
}

.about-img img {
    width:55vh;
    border:2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor:pointer;
    transition:0.4s ease;
}


/* services section code */

.services{
    background-color:rgb(65 90 119);
}

.services h2 {
    text-align:center;
    margin-bottom:5rem;
    font-size: 6rem;
}


.services-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding:6rem 2rem 6rem;
    border-radius:2rem;
    text-align:center;
    border:0.3rem solid#d5fdf9;
    transition:0.3s ease;
}

.services-container .services-box:hover {
    border-color:#000;
    transform:scale(1.02);
}

.services-box i {
    font-size:7rem;
    color:aqua;
}

.services-box h3 {
    font-size:2.6rem;
}

.services-box p {
    font-size:1.6rem;
    margin:1rem 0 3rem;
}
.service{
    background:var(--bg-color);
}


/* Contact Section Code */

.contacts {
    background:rgb(65 90 119);
}
.contacts .heading{
    text-align: center;
}

.contacts h2 {
    margin-bottom: 3rem;
    color:black;
}

.contacts form {
    max-width:80rem;
    margin:1rem auto;
    text-align: center;
    margin-bottom:3rem;
}

.contacts form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts form .input-box input,
.contacts form textarea {
    width:100%;
    padding: 1.5rem;
    font-size:1.6rem;
    color: black;
    background: white;
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin:0.7rem 0;
    resize:none;
    
}

.contacts form .input-box input {
    width:49%;
    margin:0.7rem 0.35rem;
}
.contacts form .btn {
    margin-top:2rem;
}

/* Footer Section Code */

.footer {
    position:relative;
    bottom:0;
    width:100%;
    padding:0px 0;
    background-color:rgb(65 90 119) ;
}

.footer .social {
    text-align:center;
    padding-bottom: 25px;
    color:var(--main-color);
}

.footer .social a {
    font-size:25px;
    color:#00ff37;
    border:0.2rem solid rgb(6, 6, 25);
    width:42px;
    height:42px; 
    line-height:42px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 10px;
    transition:0.3s ease;
}

.footer .social a:hover {
    transform:scale(1.2) translatey(-10px);
    background-color: var(--main-color);
    color:black;
    box-shadow:0 0 25px var(--main-color);

}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color:var(--text-color);
}